.c{
    display: block;
    }
    .javascript{
    background-color: blue;
    }
    .php{
    background-color: red;
    }
    .python{
    background-color: yellow;
    }
    .ruby{
    background-color: green;
    }
    