<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
  <h1 class="text-center title-1"> Registro de Cliente </h1>
  <form action="/" method="POST">
    <input type="text" placeholder="Nome" name="name"><br>
    <input type="text" placeholder="CPF" name="cpf">
    <br />
    <button type="submit">Registrar</button>
    <button><a href="/show">Listar Todos</a></button>
  </form>
</body>

</html>