<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Buscar CEP </h1>
    <form action="/buscarcep" method="get">
        <p>CEP: <input type="text" name="cep" /></p>
        <p><input type="submit" value="Buscar" /></p>
    </form>
</body>
</html>