<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Cadastro de Municipio </h1>
    <form action="/addmunicipio" method="post">
        <p>Cidade:<input type="text" name="cidade" /></p>
        <p>Temp:<input type="text" name="temp" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
</html>