<!DOCTYPE html>
<html>
  <head>
    <title>
      Minha primeira aplicação Express
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= mensagem %></h1>
  </body>
</html>
