<div class="full-width text-center">
  <h1 class="display-3">Obrigado, {{name}}!</h1>
  <p class="lead"><strong>Por favor, verifique seu email</strong> para confirmar seu registro em nossa newsletter.</p>
  <hr>
  <p>
      Algum problema? <a href="">Contacte-nos</a>
  </p>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Voltar</a>
  </p>
</div>
