<form action="/registra" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Participe da nossa mailing list</h1>
  <label for="name" class="sr-only">Nome</label>
  <input type="text" name="name" class="form-control" placeholder="Seu nome" required autofocus>
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" class="form-control" placeholder="Seu email" required>
  <label for="emailConfirmation" class="sr-only">Email (confirmação)</label>
  <input type="email" name="emailConfirmation" class="form-control" placeholder="Seu email (confirmação)" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registra</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
